<div class="col-md-4 col-sm-4 col-xs-12 all-post">
  <div class="project-discussion">
    <%= image_tag(post.banner_image, :alt => "Picture", class: "center-block img-responsive") %>
    <b>Published <%= post.published_at.strftime("%d %B %Y") %></b>
    <h4 class="blog"><%= link_to post.title.titleize, post_path(post) %></h4>
    
      <%= post.description.truncate_words(4).html_safe %>
      <%= link_to '...Read more', post_path(post) %> 
  </div>
</div>