<div class="container">
  <div class="row">
    <!-- Post Content Column -->
    <div class="col-lg-8">
    <!-- Title -->
      <h1><%= link_to @post.title.titleize, class: "project-title" %></h1>
      <!-- Author -->
      <p class="lead"></p>
      <hr>
       <!-- Date/Time -->
      <b>Posted on <%= @post.published_at.strftime("%d %B %Y") %><br></b>
      <hr>
      <div class="img-fluid rounded">
        <%= image_tag(@post.banner_image, :alt => "Picture", class: "center-block img-responsive", :size => "700x400") %>
      </div>
      <br>
      <hr>
      <!-- Post Content -->
        <p class="lead"><%= @post.description.html_safe %></p>
        
        <%= social_share_button_tag(@post.title, :url => post_url(@post), description: @post.title) %>
        <!-- Single Comment -->
          <div class="media mt-4">
            <h5 class="mt-0">Comments:</h5>
              <% @post.comments.each do |post_cmnt| %>
              <h5 class="mt-0"><%= post_cmnt.name %></h5>
                 <%= post_cmnt.message %>
                <% end %>
            </div>
          </div>
          <div class="card my-4">
          <div class="card-body">
            <%= render 'comments/form' %>
          </div>
        </div>
        </div>
      </div>

