<div class="container">
  <div class="row">
    <!-- Post Content Column -->
    <div class="col-lg-8">
      <!-- Title -->
      <h1 class="blog-head"><%= @post.title.titleize %></h1>
      <!-- Author -->
      <hr>
      <!-- Date/Time -->
      <b>Posted on <%= @post.published_at.strftime("%d %B %Y") %><br></b>
      <hr>
      <div class="img-fluid rounded">
        <%= image_tag(@post.banner_image, :alt => "Picture", class: "center-block img-responsive") %>
      </div>
      <br>
      <hr>
      <!-- Post Content -->
      <%= @post.description.html_safe %>
      <%= social_share_button_tag(@post.title, :url => post_url(@post), description: @post.title) %>
      <!-- Single Comment -->
      <div class="card my-4">
        <div class="card-body">
          <%= render 'comments/form' %>
        </div>
      </div>
    </div>
    <div class="col-md-4 ">
     <!-- Categories Widget -->
      <div class="card my-4 recentpost">
        <h3 class="card-header">Recent Post</h3>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <%= render 'posts/recent_post' %>
                </li>               
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Side Widget -->
      <div class="card my-4">
        <h5 >Recent Comments:</h5>
        <% @post.comments.recent_comment.each do |post_cmnt| %>
        <h5><%= post_cmnt.name %></h5>
        <%= post_cmnt.message %>
        <% end %>
      </div>
    </div>
  </div>
</div>
