<!DOCTYPE html>
<html>
  <head>
    <title>Full Stack Development Studio - Blockchain Development | Ethereum | Solidity | Product Development- HeyDay Technologies </title>
    <meta name="author" content="http://www.heydaytechnologies.com/">

    <meta name="keywords" content="blockchain development company, web development company, fantasy web development, web development, fullstack web development, Find reactJs freelancers, freelancer online, Freelance fullstack web developer, ROR freelancers online, Ruby on Rails freelancers for hire, find best freelancers online, hire a full stack freelancer, find a react js developer remotely, hire reactJs developers online, Freelance blockchain Work Online, find best blockchain developers, ethereum and solidity development work, blockchain development, full stack web development, Ruby On Rails, Node Js, Angular Js, React, web development organization. ">

    <meta name="description" content="HeyDay Technologies is a web and software development studio , HeyDay technologies provides best solution in an affordable rate,100% successful project delivery, a team of technical experts working on API development, web development and blockchain development, Ruby on Rails development, Node Js development,">
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
     <%= render 'layouts/footer' %>
     <!--Start of Tawk.to Script-->
    
<!--End of Tawk.to Script-->
  </body>
 
</html>
